.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-component {
  margin: auto;
  display: inline;
}

.App-link {
  color: #61dafb;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card img {
  width: 100%;
}

.card:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.card:nth-child(even) img {
  width: 100%;
}

.button {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.card-profile-pic {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.card-emoji-icon {
  background-color: orange;
  /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.card-center {
  max-width: 30em;
  width: 100%;
  height: 5em;
  background-color: #4caf50;
}

/* Layout component */
.square-pic-large {
  background-color: gold;
  width: 100%;
  height: 16em;
}

.pic-small-container {
  width: 100%;
}

.square-pix {
  -o-object-fit: cover;
     object-fit: cover;
}

.square {
  width: 50%;
  padding: 5px;
}

.text {
  font-size: 9px;
}

.name {
  color: #0957a0;
}

.heart {
  color: red;
}

.submit-comment {
  outline: 0;
  border-width: 0 0 1px;
}

.button-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */